* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

body{
    background-color: rgb(214, 210, 210);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "nav nav nav"
    "section section section"
    "section section section";
}
section{grid-area:section;}

.UPbox{
    grid-area: nav;
    position:sticky;
    top:0;
    z-index: 1000000000;
}

.R {
    position: relative;
    right: -25px;
}

.arrD {
    position: relative;
    right: 60px;
}

.depD {
    position: relative;
    right: 50px;
}

input[type="text"],
input[type="date"] {
    padding: 15px 20px;
    border: none;
    margin: 0 10px;
    border-radius: 10px;
    color: white;
    background-color: rgba(49, 56, 125, 0.5);
    font-size: 16px;
}

input[type="text"],
input[type="date"],
.UPbutton {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.UPbutton:hover {
    background-color: rgb(225, 225, 210);
}

label {
    position: relative;
    top: -48px;
    right: -50px;
    color: rgba(225, 225, 225, .80);
}



.dropDown{
    position: relative;
    left:-50px;
    display: inline-block;
}


.dropDown-contant label {
    color: black;
}
.dropDown-contant {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 12px;
        border-radius: 10px;
}

.dropDown .passangers{
    position: relative;
    left: -50px;
    text-align: center;
    padding: 15px 20px;
    border: none;
    margin: 0 10px;
    border-radius: 10px;
    color: white;
    background-color: rgba(49, 56, 125, 0.5);
    font-size: 16px;
}

.dropDown:hover .dropDown-contant {
        display: block;
    }

.dropDown-contant label {
        display: block;
        margin-bottom: 25px;
    }

.passanger{
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

input[type="number"] {
    -moz-appearance: textfield;
}

.Sbtn{
    border: none;
    background-color: #007BFF;
    box-shadow: 0 5px 3px rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 15px 50px;
    margin: 0;
}

.Sbtn:hover{
    color: white;
    background-image: linear-gradient(to right, #5b99c2 2%, #1f316f 100%);
    transition: .5s ease-in;
    border: white solid 1px;
}

.lbl{
    position: relative;
    top: 5px;

}

.UPbutton{
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 15px 50px;
    margin: 0;
}

.container {
    background-color: #007BFF;
    padding: 50px 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    position: relative;
    left: 7px;
    color: rgba(225, 225, 225, .80);
    z-index: 0;
}

.heading{
    display:grid;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(5,1fr);
    background-color: white;
    text-align: center;
    height: 25px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}

h5{
    border-right: 1px solid black;
}

.aro i{
    color: black;
    position: relative;
    top: 65px;
    left: 125px;
}

.Dep{grid-column: 1; grid-row: 3;}
.Ret{grid-column: 2; grid-row: 3;}
.Frm{grid-column: 3; grid-row: 3;}
.Reto{grid-column: 4; grid-row: 3;}
.Bookb{grid-column: 5; grid-row: 3; border: none;}

.flight .Dep, .flight .Ret, .flight .Frm, .flight .Reto{padding: 10px;}

.flight .Bookb{
    padding: 10px;
    border-radius: 10px;
    background-color: #007BFF;
}

.flight .Bookb:hover{
    box-shadow: 0 0 30px rgba(31,49,111,.5);
    color: white;
    background-image: linear-gradient(to right, #5b99c2 2%, #1f316f 100%);
    transition: .5s ease-in;
    border: white solid 1px;
}

.flight{
    display:grid;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(5,1fr);
    text-align: center;
    background-color: white;
    height: 150px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}

.head_container{
    height: 25px;
}


.flight{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
