
        body{
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
        }

        .container input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }



        .hidden{
            display: none;
        }
        
       #background-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }

        .container{
            display:flex;
            justify-content: center;
            align-items: center;

        }

        .login-button{
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-button button{
           background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            margin: 10px;
            font-size: medium;
            border: none;
            color: white;
            border-radius:18px;
        }

        .login-button button:hover{
            color: whitesmoke;
            background-color: rgba(248, 243, 243, 0.5); 
            border-radius:18px;
        }

        span{
            color: red;
        }

        h1,span{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            
        }

        h1{
            padding: 100px;
            color: white;
        }

        .Cust-container{
            display: flex;
        }

        .Manage-container{
            display: flex;
        }

        #cust-login{
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
        }

        #Manage-login{
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
        }

        #Manage-login button{
            display: block;
            padding: 10px;
            width: 50%;
            margin: none;
        }


        #cust-login button{
            display: block;
            padding: 10px;
            width: 50%;
            margin: none;
        }

        label{
            display: block;
            color: white;
            font-size: 15px;
            margin-bottom: 8px;
        }
